<div class ="container">
  <div class="mb-5 row text-center">
    <div class="col-md-4">
      <h4 class="title bg-light" >ジャンル編集</h4>
    </div>
  </div>
  <form class="row mb-5">
    <%= form_with model: @genre, url: admin_genre_path, method: :patch  do |f| %>
    <div class="col-md-2">
      <%= f.label "ジャンル名" %>
    </div>
    
    <div class="col-md-3">
        <%= f.text_field :name,class: 'form-control'%>
    </div>
    
    <div class="col-md-2">
     <%= f.submit "変更を保存", class: 'btn btn-success' %>
    </div>
   <% end %>
  </form>

