<h2>注文情報入力</h2>

<div class ="order_info">
    <div class ="payment method">
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method_credit_card, "クレジットカード" %>
        
        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method_transfer, "銀行振込" %>
    </div>
    
</div>