
<div id ="contents">
  <!--ジャンル検索を部分テンプレート化する-->
  <div class ="box_base" id ="feature_box">
    <div class ="left_container">
       <div class ="col-md-1">
           <table class="table table-bordered">
               <tr>
                   <th>ジャンル検索</th>
               </tr>
               <% @genres.each do |genre| %>
               <tr class="table table-borderless">
                   <td><%= genre.name %></td>
               </tr>
               <% end %>
           </table>

       </div>
    </div>
    <div class ="right_container">
      <h2><strong>商品一覧</strong></h2>
      <div class ="row">
         <div class="col-md-4">
           <% @items.each do |item| %>
           <ul class="items items-per-row-3">
             <li class="items_index">
               <%= link_to item_path(item.id) do %>
               <div class="productitem" item-content>
                 <p>画像</p>
               </div>   
               <div class="item-name">
                   <h4><%= item.name %></h4>
               </div>
               <div class ="item-price">
                 <h4><%= item.with_tax_price %></h4>
               </div>
               <% end %>
             </li>
           </ul>
           <% end %>
         </div>
      </div>
      
    </div>
  </div>
</div>
